body {
    font-family: Verdana;
    font-size: 12pt;
}

body, p, li {
    color: #494c4e; 
}

h2, h3, h4, .faq-vraag   {
    color: #9ea700;
}

h2, h3, h4 {
    border-top: #494c4e 3px solid;
}

h2 {
    font-size: 24px;
    padding-top: 16px;
}

h3, h4 {
    padding: 16px 0px;
    border-bottom: #494c4e 1px solid;
}

h3 {
    font-size: 20px;    
}

h4 {
    font-size: 16px;
}

a {
    font-weight: bold;
}

footer {
    margin: 20px 0px 60px 0px;
    padding: 16px 0px;
    height: 40px;
    border-top: #494c4e 3px solid;
    background-image: url("/shared/LCS_HTML_Templates/HHS_Template_2021/_assets/img/logo.svg");
    background-position: right top 10px;
    background-repeat: no-repeat;
}

.inhoudsopgave-wrapper, .video-list-wrapper {
    background-color: #f4f7fa;
}

.inhoudsopgave-wrapper a, .video-list-wrapper a {
    padding-right: 20px;
}

.inhoudsopgave-wrapper .toggle-div a, .video-list-wrapper .toggle-div a {
    padding-right: 0px;
}

.inhoudsopgave-wrapper td, .video-list-wrapper td {
    vertical-align: text-top;
    border-bottom: 1px dashed #9EA700;
}

.inhoudsopgave-wrapper tr td:first-child, .video-list-wrapper tr td:first-child {
    width: 1%;
    white-space: nowrap;
}

#h2-inhoud {
    padding: 16px 0px;
    border-bottom: #494c4e 1px solid;
}

.melding {
    color: #ca433c;
}

.leervragen li {
    color: #ca433c /* #7c8200 */;
}

.leerstof {
    color: #ca433c;
}

.videoLink, a {
    color: #00b2cd;
    text-decoration: none;
    border-bottom: 1px solid #00b2cd;
}

.extraMaterial, .extraMaterial li {
    color: #9ea700 /* #ffba00 */;
}

.contactImage {
    width: 300px;
}

.contactImage img {
    width: 100%; 
    height: auto;
}

@media screen and (max-width: 640px) {
    .contactImage {
        width: auto;
    }
}

blended, .blended-wrapper {
    border: 1px solid black;
    padding: 0px 25px;
}

blended, .blended-wrapper, 
         .blended-code, 
         .blended-kader,
         .faq-element,
         .faq-setup,
         .test-setup,
         .blended-tijd,
         .img-pptx {
    -webkit-box-shadow: 4px 4px 14px #4f4f4f;
    -moz-box-shadow: 4px 4px 14px #4f4f4f;
    box-shadow: 4px 4px 14px #4f4f4f;
}

.blended-wrapper-url-naar-nieuw-tabblad {
    font-size: 70%;
    margin-top: 10px;
}

blended, .blended-wrapper a {
    font-weight: normal;
}

.mediasite-wrapper, .stream-wrapper, .youtube-wrapper {
    background-color: #ca433c;
    color: white;
}

.mediasite-wrapper iframe,
.stream-wrapper iframe,
.youtube-wrapper iframe, 
.quiz-wrapper iframe,
.pptx-wrapper iframe,
.pdf-wrapper iframe,
.quiz-wrapper iframe {
    background: url('../media/Algemeen - Loading.gif') no-repeat center;
    background-size: 75px 75px;
}

.mediasite-wrapper .videoLink, 
.stream-wrapper .videoLink, 
.youtube-wrapper .videoLink,
.wooclap-wrapper .videoLink,
.wooflash-wrapper .videoLink,
.answer-wrapper .videoLink,
.pptx-wrapper .videoLink,
.pdf-wrapper .videoLink {
    color: #b2c6d8;
    border-bottom: 1px solid #b2c6d8;
}

.wooclap-wrapper, .wooflash-wrapper {
    color: white;
}

.wooclap-wrapper {
    background-color: #146aff;
}

.wooflash-wrapper {
    background-color: #b79dfd;
}

.wooclap-p {
    margin-top: 0px;
}

.wooclap-melding {
    color: #00b2cd /* #3b4559 */;
    font-size: 70%;
}

.blended-content {
    position: relative;
}

.blended-content .loading {
    position: absolute; 
    margin-top: 45px; 
    font-size: 10px; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white;
}

.wooclap-wrapper .loading, .wooflash-wrapper .loading {
    margin-top: 50px;
}

.answer-wrapper {
    color: white;
    background-color: #9ea700;
    margin-top: 16px;
}

.answer-wrapper pre {
    margin-top: 0px;
}

.download-wrapper, 
.download-wrapper .videoLink, 
.pptx-wrapper, 
.pdf-wrapper {
    background-color: #223343;
    color: white;
}

.download-wrapper .videoLink {
    border-bottom: 2px solid white;
}

.toggle-wrapper {
    cursor: pointer; 
}

.icon-div {
    width: 35px; 
    float: left;
    padding-top: 12px;
}

.icon-img {
    border: 0px;
    width: 25px;
    height: 25px;
}

.toggle-div {
    overflow: hidden;
    padding-top: 15px;
    padding-bottom: 15px;
}

.mediasite-toggable-content,
.stream-toggable-content,
.youtube-toggable-content,
.toggable-content {
    overflow: hidden;
    position: relative;
    padding-top: 56.25%;
}

.mediasite-wrapper iframe,
.stream-wrapper iframe,
.youtube-wrapper iframe,
.pptx-wrapper iframe,
.quiz-wrapper iframe {
    width: 100%;
    height: 100%;
    border: 0px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.blended-code, .blended-kader, .blended-tijd, .blended-navigatie, .test-setup {
    padding: 16px 25px;
    border: 1px solid #3b4559;
    background-color: #f4f7fa;
    color: #4e5b73;
}

.blended-code {
    font-family: Consolas;
}

.blended-tijd, .blended-navigatie {
    margin-bottom: 16px;
    padding-right: 0px;
    background-color: transparent;
}

.navigatie-buttons {
    position: relative;
    top: 0;
    float: right;
}

.navigatie-buttons img, .navigatie-buttons .select {
    height: 15px;
}

.navigatie-buttons span {
    padding-right: 10px;
}

.navigatie-buttons a {
    text-decoration: none;
    border-bottom: 0px;
}

.faq-wrapper {
    padding: 0px;
    border: 0px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    margin-top: 10px;
}

.faq-setup, .test-setup {
    position: relative;
}

.faq-setup {
    height: 20px;
    margin-bottom: 10px;
}

.faq-setup-tekst, .test-setup-tekst {
    position: absolute;
    top: 50%;
    font-size: 12px;
    transform: translate(0px, -50%);
}

.faq-setup-tekst {
    right: 105px;
}

.test-setup-tekst {
    right: 60px;
}

.faq-setup-checkbox, .faq-setup-expand, .faq-setup-minify, .test-setup-checkbox {
    position: absolute;
    top: 50%;
    margin-top: -10px;
}

.faq-setup-checkbox, .test-setup-checkbox {
    height: 20px;
    width: 42px;
}

.faq-setup-checkbox {
    right: 55px;
}

.test-setup-checkbox {
    right: 10px;
}

.faq-setup-checkbox img, .test-setup-checkbox img {
    cursor: pointer;
    height: 20px;
    width: 42px;
}

.faq-setup-expand, .faq-setup-minify {
    cursor: pointer;
    height: 20px;
    width: 20px;
    background-size: 20px 20px;
}

.faq-setup-expand {
    background-image: url('../media/Algemeen - Expand all.png');
    right: 30px;
}

.faq-setup-minify {
    background-image: url('../media/Algemeen - Minify all.png');
    right: 5px;
}

.faq-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    counter-reset: faq-counter;
}

.faq-element {
    margin-bottom: 15px;
    border: 1px solid #223343;
}

.faq-element > div, .faq-setup, .test-setup {
    padding-right: 35px;
}

.faq-setup {
    padding: 3px;
}

.faq-element > div {
    padding: 10px;
}

.faq-element > hr {
    margin: 0;
    display: none;
}

.faq-element > hr.faq-active {
    display: block;
}

.faq-vraag {
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.4s;
    margin: auto;
    font-weight: bold;
    position: relative;
}

/* 
 * Voeg een background-color toe aan de vraag, als erop geklikt is (toggle de class .faq-active met JavaScript)
 * en als de gebruiker er met de muis overheen beweegt (hover).
 */
.faq-vraag.faq-active,
.faq-vraag:hover {
    background-color: #d8dade;
    color: #223343;
}

.faq-vraag:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
    vertical-align: middle;
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translate(0px,-50%);
}

.faq-vraag.faq-active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.faq-antwoord {
    background-color: #d8dade;
    margin: auto;
    padding: auto;
    padding-left: 30px !important; 
    display: none;
    overflow: hidden;
}

.faq-antwoord.faq-active {
    display: block;
}

/* 
 * De buitenste wrapper voor de PDF-viewer: Set max-width & max-height.
 * Als max-height groter is dan padding-bottom%, dan wordt die waarde genegeerd en vervangen door padding-bottom% van max-width 
 */
.pdf-viewer {
    max-width: 100%;
    max-height: 500px; 
    overflow: hidden;
}

/*
 * Deze CSS maakt de binnenste wrapper (om het iframe met het PDF-document heen) binnen de PDF-viewer responsive.
 * Height wordt bepaald op basis van padding-bottom in CSS hieronder.
 *
 * Vanwege een bug in CSS kan de volgende style niet hier worden gedefinieerd, maar moet die bij het element met deze class worden toegevoegd:
 *
 *      style="-webkit-overflow-scrolling: touch; overflow: auto;"
 *
 * Deze CSS wordt gebruikt voor het correct tonen van overflow en scrolling op mobiele apparaten en wordt toegevoegd aan de binnenste wrapper
 * om het iframe heen waarbinnen het PDF-document wordt getoond.
 */
.responsive-pdf-wrapper {
    position: relative;
    height: 0;
}

/* 
 * padding-bottom = hoogte / breedte als een %.
 * Deze toont de PDF in de juiste verhouding of aspect ratio (die ook wordt gebruikt voor YouTube.
 */
.responsive-pdf-wrapper-wxh-572x612 {
    padding-bottom: 107%;
}

.responsive-pdf-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
    border: none;
}

.set-pdf-viewer-center-block-horiz {
    margin-left: auto !important;
    margin-right: auto !important;
}

.popup {
    box-sizing: border-box;
    padding: 50px;
    padding-bottom: 100px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(34,51,67,0.5); /* #223343 */
    overflow-y: scroll;
    overflow-x: hidden;
}

.popup > div {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
    z-index: 1001;
    box-sizing: border-box;
    width: calc(var(--width-popup, 100%) - 100px);
    /*
    -webkit-box-shadow: 13px -1px 12px -6px rgba(0,0,0,0.78);
    -moz-box-shadow: 13px -1px 12px -6px rgba(0,0,0,0.78);
    box-shadow: 13px -1px 12px -6px rgba(0,0,0,0.78);
    */
    border: 1px solid black;
    background-color: rgba(255, 255, 255, 1);
}

.popup > .top-bar {
    height: 25px;
    top: 50px;
    border-radius: 25px 25px 0px 0px;
    border-bottom: 0px;
}

.popup > .content {
    border-top: 0px;
    padding: 25px;
    top: 75px;
    height: calc(100% - 175px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.popup .navigatie-buttons select {
    transform: translate(0px, -2px);
}

.popup > .navigatie {
    height: 51px;
    padding-right: 20px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translate(-50%, 0px);
    overflow: hidden;
    border-radius: 0px 0px 25px 25px;
    border-top: 0px;
    background-color: rgba(255, 255, 255, 1);
}

.popup .navigatie-buttons {
    width: 200px;
    height: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -10px;
    margin-left: -100px;
}